<main class="grid-container">
    <div class="side-bar">
        <div *ngFor="let post of posts">
            <app-blog-post [post]="post"></app-blog-post>
        </div>
    </div>
    <div class="main-page">
        <h2>Why a pigeon?</h2>
        <p>Jonas originates from Hebrew meaning 'dove'. A dove, in my opinion, represents peace.
            It is also the bearer of hope in the story of Noah. By bringing a small olive branch, it gives a message 
            to the entire ark that there is dry land upon. 
            Aside from that a dove can spread it's wings and fly to anywhere it wants. 
            It's free to see the world by travelling by air. Soaring through the sky and feeling 
            the wind under it's wings. 
            It represents freedom in this way. 
            Those are a few reasons to make it my favorite animal. 
        </p>
        <h2>Guitar</h2>
        <h2>Soar plane</h2>
        <h2>Nature</h2>
    </div>
    <div class="side-bar">
        <p>some tools come here!</p>
    </div>
</main>